@{
    Layout = "_DashboardLayout";
}

@model DashboardViewModel
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-5 col-12">
                    <h6 class="my-2">All asset in BTC</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-8 col-12">
                                            <p><strong>Your balance:</strong></p>
                                            <h1>3,458.88 BTC</h1>
                                            <p class="mb-0">Bonus <strong>+30%</strong> expires in 21 days.</p>
                                        </div>
                                        <div class="col-md-4 col-12 text-center text-md-right">
                                            <button type="button" class="btn-gradient-secondary mt-2">Withdraw <i class="la la-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <h6 class="my-2">BTC Amount</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Balance:</strong></p>
                                            <h1>3,12302</h1>
                                            <p class="mb-0">Increase <strong>+10%</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <h6 class="my-2">ETH Amount</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Balance:</strong></p>
                                            <h1>90,74801</h1>
                                            <p class="mb-0">Increase <strong>+10%</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <h6 class="my-2">CPL Amount</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Balance:</strong></p>
                                            <h1>897.921.120,129</h1>
                                            <p class="mb-0">Increase <strong>+10%</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
}
