@model DashboardSidebarViewModel
<div class="sidebar" data-color="orange">
    <div class="logo">
        <a asp-controller="Dashboard" asp-action="Index" class="simple-text logo-mini">
            <img src="~/images/logo_white.png" class="img-fluild"/>
        </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/images/avatar-1.jpeg" />
            </div>
            <div class="info">
                <a href="#collapseExample">
                    <span>
                        USER
                    </span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul class="nav">
            <li class="active">
                <a asp-controller="Dashboard" asp-action="Index">
                    <i class="now-ui-icons design_app"></i>
                    <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</p>
                </a>
            </li>
            <li class="active">
                <a asp-controller="Profile" asp-action="EditAccount">
                    <i class="far fa-user"></i>
                    <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ProfileEdit")</p>
                </a>
            </li>
            <li class="active">
                <a asp-controller="Profile" asp-action="EditCredentials">
                    <i class="far fa-address-card"></i>
                    <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CredentialsEdit")</p>
                </a>
            </li>
        </ul>
    </div>
</div>
