@model KYCVerifyEmailTemplateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_KYCVerifyEmailTemplateViewModel</title>
</head>
<body>
    <p>
        KYC verified successfully
    </p>
</body>
</html>
