#price-prediction-nav-bar .nav-item {
    z-index: 9;
}

.fa-circle-active {
    bottom: 2px;
    position: relative;
    font-size: .5rem !important;
}

.fa-circle-inactive {
    bottom: 2px;
    position: relative;
    font-size: .5rem !important;
}

@media (max-width: 460px) {
    .mobile-tab-name {
        word-break: break-word;
        width: 100px;
        line-height: 18px;
        text-align: center;
    }
}

.topright {
    border-radius: 4px;
    position: absolute;
    right: 15px;
    z-index: 1;
    background-color: red;
    padding: 0.5rem !important;
    width: 180px;
    text-align: center;
}

.clock-icon {
    top: 2px;
    position: relative;
}
