body {
    background-image: url('../../images/backgrounds/bg_02.jpg');
}

#lottery-game .owl-nav .owl-prev {
    position: absolute;
    top: 20%;
    font-size: 80px;
    background-color: transparent;
    color: red;
    left: 0px;
    border: hidden;
    margin: 2px;
    outline: none;
}

    #lottery-game .owl-nav .owl-prev span {
        line-height: 45px;
        height: 60px;
        width: 40px;
        background-color: #fff;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        display: inline-block;
    }

#lottery-game .owl-nav .owl-next {
    position: absolute;
    top: 20%;
    font-size: 80px;
    background-color: transparent;
    color: red;
    right: 0px;
    border: hidden;
    margin: 2px;
    outline: none;
}

    #lottery-game .owl-nav .owl-next span {
        line-height: 45px;
        height: 60px;
        width: 40px;
        background-color: #fff;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        display: inline-block;
    }

