@media (max-width: 425px){
    .tab-component .text-sm-bigger {
        font-size: 25px !important;
    }
}

.nav-tabs #deposit-nav-tab.nav-link.active {
    border-color: #BABFC7 #BABFC7 #fff;
}

#depositandwithdraw .nav-tabs .nav-item {
    z-index: 9;
}