.search-box {
    position: absolute;
    right: 12px;
    top: 12px
}

@media (max-width: 400px){
    .search-box{
        position: relative !important;
        right:auto !important;
    }
}

.search-box input {
    border-color: #E8E8E8;
}