.bg-custom {
    line-height: 25px !important;
    padding-top: 25px !important;
    height: 100px !important;
    width: 100px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.card-header-custom {
    text-align: right !important;
}

.card-body-custom {
    text-align: right !important;
}

.progress-custom {
    height: 3px;
    width: 65%;
    margin-top: 15px;
    margin-left: 15px;
}

.card-description {
    font-size: 15px;
    font-weight: 300;
}

.small-font {
    font-size: 12px;
}

@media (min-width: 320px) and (max-width: 374px) {
    .progress-custom {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .progress-custom {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .col-probability {
        max-width: 100%;
        flex: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .col-probability {
        max-width: 100%;
        flex: 100%;
    }
}

@media (min-width: 1440px) and (max-width: 1640px) {
    .progress-custom {
        width: 50%;
    }
}

.progress-custom {
    height: 3px;
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 18px;
}

#buy-lottery-bg {
    background: url('/images/lottery/new-hp-01_93.jpg') no-repeat;
    background-position: center;
    overflow: hidden;
}

body {
    background: url('/images/lottery/bg_lottery.jpg');
    background-repeat: repeat-x;
    background-color: white;
}

.mb-10px {
    margin-bottom: 10px;
}

.mt-8px {
    margin-top: 8px;
}

#number-of-ticket {
    border:none;
}