img.img-border {
    border: 1px solid #ddd;
    width: 150px;
    background-color: #fff;
}

#navbar-scroll-game-info {
    background: #ffd300;
}

#slider-banner .owl-theme .owl-dots .owl-dot {
    outline: none;
}

    #slider-banner .owl-theme .owl-dots .owl-dot span {
        width: 40px;
        height: 3px;
        border-radius: 0;
    }

    #slider-banner .owl-theme .owl-dots .owl-dot.active span,
    #slider-banner .owl-theme .owl-dots .owl-dot:hover span {
        background: #ffd300;
    }

.card-game {
    border: 1px solid thin;
}

    .card-game .btn {
        font-weight: 800;
        font-size: large;
    }

.card-img-game {
    border-radius: 0px !important;
}

.card-header-game {
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffd300;
    color: black;
}

.card-header-game-mobile {
    text-align: center;
    font-size: large;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffd300;
    color: black;
}
