html body {
    background-image: url('../../images/backgrounds/bg_02.jpg') !important;
}
.card-kind-of-games {
    width: 217.43px;
    height: 241.35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-random-games {
    background-color:white; 
    border-radius:0px;
}
.card-random-games-footer {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
}

.text-padding {
    padding-top: 160px;
    font-size: 25px;
    width: 120px;
    line-height: 25px;
}

@media (max-width: 768px) {
    .card-kind-of-games {
        width: 96.78px;
        height: 107.53px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-random-games-footer {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .text-padding {
        padding-top: 70px;
        font-size: 13px;
        width: 70px;
        line-height: 12px;
    }
    .random-games-text-top-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        font-size: 12px !important;
        font-weight: bold;
    }
}

@media (max-width: 425px) {
    .card-kind-of-games {
        width: 106.78px;
        height: 118.53px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-random-games-footer {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .text-padding {
        padding-top: 77px;
        font-size: 15px;
        width: 70px;
        line-height: 15px;
    }
}

@media (max-width: 320px) {
    .card-kind-of-games {
        width: 96.78px;
        height: 107.53px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-random-games-footer {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 13px;
    }

    .text-padding {
        padding-top: 70px;
        font-size: 13px;
        width: 70px;
        line-height: 12px;
    }
    .random-games-text-top-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        font-size: 10px !important;
        font-weight: bold;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    background: url('../../images/homepage_number_spin.jpg') no-repeat #FFEA87;
    background-size: 22px auto;
    right: -1.85rem;
}

#what-is-crypto-odds-content {
    background-color: #FFEA87;
    border-width: 2px !important;
}

#top-content {
    margin-bottom: -25px;
    z-index: 1;
}

.text-top-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 575.98px) {
    #top-content {
        margin-bottom: -23px;
    }

    .text-top-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    #top-content {
        margin-bottom: -20px;
    }

    .text-top-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    #top-content {
        margin-bottom: -17px;
    }

    .text-top-content {
        font-size: 12px;
    }
}

.next-arrow {
    position: absolute;
    right: 3px;
    top: 35%;
}

.down-arrow {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.img-step {
    position: absolute;
    top: 0px;
    left: 0px;
}

.height-text-step{
    height: 130px;
}

@media screen and (min-width: 425.1px) and (max-width: 768px) {
    .height-text-step {
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .height-text-step {
        height: 200px;
    }
}
.random-games-text-top-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 20px;
    font-weight: bold;
}