html body {
    background-image: url('../../images/backgrounds/bg_02.jpg') !important;
}

#lottery-game .owl-nav .owl-prev {
    position: absolute;
    top: 20%;
    font-size: 80px;
    background-color: transparent;
    color: red;
    left: 0px;
    border: hidden;
    margin: 2px;
    outline: none;
}

    #lottery-game .owl-nav .owl-prev span {
        line-height: 45px;
        height: 60px;
        width: 40px;
        background-color: #fff;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        display: inline-block;
    }

#lottery-game .owl-nav .owl-next {
    position: absolute;
    top: 20%;
    font-size: 80px;
    background-color: transparent;
    color: red;
    right: 0px;
    border: hidden;
    margin: 2px;
    outline: none;
}

    #lottery-game .owl-nav .owl-next span {
        line-height: 45px;
        height: 60px;
        width: 40px;
        background-color: #fff;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        display: inline-block;
    }
.btn-circle {
    background: url('../../images/lottery/mobile_button_background.png') no-repeat top left;
    background-size: contain;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    padding: 10px 16px;
    border-radius: 35px;
    text-align: center;
    font-size: 20px !important;
    line-height: 2.3;
}

    .btn-circle span {
        margin-left: -3px;
    }

.ticket-left-text {
    position: absolute;
    right: 1rem;
    font-weight: bold;
    bottom: 0.3rem;
    margin-bottom: 0px;
    margin-left: 10px;
}

    .ticket-left-text i{
        font-size:1.1rem !important;
        font-weight:bold;
    }
    @media (max-width: 320px) {
        .btn-circle {
        top: 0.7rem;
        left: 18.3rem;
        width: 50px;
        height: 50px;
        padding: 5px 9px;
        border-radius: 30px;
        font-size: 15px !important;
        line-height: 2.5;
    }
    .ticket-left-text {
        position: absolute;
        right: 1rem;
        font-weight: bold;
        bottom: 0.1rem;
        margin-bottom: 0px;
        margin-left: 10px;
        font-size:.9rem;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .btn-circle {
        top: 1rem;
        left: 21.5rem;
        width: 60px;
        height: 60px;
        padding: 5px 12px;
        border-radius: 30px;
        font-size: 18px !important;
        line-height: 2.5;
    }
    .ticket-left-text {
        position: absolute;
        right: 1rem;
        font-weight: bold;
        bottom: 0.3rem;
        margin-bottom: 0px;
        margin-left: 10px;
        font-size: .9rem;
    }
}