@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction");
}

@section styles
    {
    <link href="~/css/dashboard/cpl.priceprediction.css" rel="stylesheet" asp-append-version="true" />
}

<div class="img-coming-soon text-center w-md-100 w-75">
    <h1 class="mb-md-3 font-large-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionGame")</h1>
    <img class="img-fluid img-circle" src="~/images/comingsoon1.png" />
</div>

