@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction");
}

@section styles
    {
    <link href="~/css/dashboard/cpl.priceprediction.css" rel="stylesheet" />
}

<div class="img-coming-soon text-center w-md-100 w-75">
    <h1 class="mb-md-2 font-large-3">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionGame")</h1>
    <img src="~/images/comingsoon1.png" />
</div>

