@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction");
}

@section styles
    {
    <link href="~/css/dashboard/cpl.priceprediction.css" rel="stylesheet" />
}

    <div class="img-coming-soon">
        <img src="~/images/comingsoon1.png" />
    </div>
    