@model ContactEmailTemplateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ContactEmailTemplate</title>
</head>
<body>
    <p>
        <b>Subject: </b> <span>@Model.Subject</span>
    </p>
    <p>
        <b>Email</b> <span>@Model.Email</span>
    </p>
    <p>
        <b>Name</b> <span>@Model.Name</span>
    </p>
    <p>
        <b>Message</b> <span>@Model.Message</span>
    </p>
</body>
</html>
