@model HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>CPL</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous">
    <link href="~/css/home/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/home/stroke.css" rel="stylesheet" />
    <link href="~/css/home/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/css/home/style.css" rel="stylesheet" />
    <link href="~/css/home/style-dev.css" rel="stylesheet" />
    <link href="~/css/home/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/home/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/js/home/plugins/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body class="drawer drawer--right">
    <nav class="drawer-nav" role="navigation">
        <div class="drawer-menu menu_1 cf">
            <div class="item_btn items">
                <a class="btn btn-warning btn-sm btn-drawer" asp-controller="Authentication" asp-action="Register">
                    Register
                </a>
                &nbsp;
                <a class="btn btn-danger btn-sm btn-drawer" asp-controller="Authentication" asp-action="LogIn">
                    Log in
                </a>
            </div>
            <div class="drawer-sub-menu"><a href="#"> Home</a></div>
            <div class="drawer-sub-menu"><a href="#"> About</a></div>
            <div class="drawer-sub-menu"><a href="#"> Service overview</a></div>
            <div class="drawer-sub-menu"><a href="#"> Purchase method</a></div>
            <div class="drawer-sub-menu"><a href="#"> FAQ</a></div>
            <div class="drawer-sub-menu"><a href="#"> Books</a></div>
            <div class="drawer-sub-menu"><a href="#"> Newspaper</a></div>
        </div>
    </nav>
    <header class="t-header_top cf" role="banner">
        <div class="t-inner cf">
            <div class="right_block cf">
                <div class="t-item">
                    <a href="#" class="btn btn-sm btn-header-icon"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div class="t-item">
                    <a href="#" class="btn btn-sm btn-header-icon"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="t-item">
                    <a href="#" class="btn btn-sm btn-header-icon"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="t-item">
                    <a asp-controller="Authentication" asp-action="Register" class="btn btn-sm btn-danger btn-header-action"><i class="fas fa-user"></i> Register</a>
                </div>
                <div class="t-item">
                    <a asp-controller="Authentication" asp-action="LogIn" class="btn btn-sm btn-danger btn-header-action"><i class="fas fa-sign-in-alt"></i> Log in</a>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="t-header_primary cf">
        <div class="t-inner cf">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" class="img-fluid logo-image" />
                </a>
            </div>
            <button type="button" class="drawer-toggle drawer-hamburger">
                <span class="drawer-hamburger-icon"></span>
            </button>
            <nav class="t-nav cf">
                <ul class="cf">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service overview</a></li>
                    <li><a href="#">Purchase method</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Newspaper</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- contents -->
    <main class="m-main" role="main">
        <div class="top_visual cf">
            <div class="owlSlider">
                <div class="owlSlider-item owlSlider-item0">
                    <a href="#" target="_blank"><img src="~/images/slider/slider_1.jpg" class="img-fluid" /></a>
                </div>
                <div class="owlSlider-item owlSlider-item1">
                    <a href="#" target="_blank"><img src="~/images/slider/slider_2.jpg" class="img-fluid" /></a>
                </div>
                <div class="owlSlider-item owlSlider-item2">
                    <a href="#" target="_blank"><img src="~/images/slider/slider_3.jpg" class="img-fluid" /></a>
                </div>
            </div>
        </div>

        <section class="t-contents_2 cf">
            <div class="inner cf">
                <div class="row">
                    <div class="col-md-4 col-sm-12 margin-auto pb-3">
                        <div class="card">
                            <img class="card-img-top" src="~/images/lottery_game.jpg" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Lottery</h5>
                            </div>
                            <div class="card-body">
                                <form class="row">
                                    <div class="col-8" style="padding-right:0px;">
                                        <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="CPL amount">
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-danger btn-card">Buy</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 margin-auto pb-3">
                        <div class="card">
                            <img class="card-img-top" src="~/images/prediction_game.jpg" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Prediction</h5>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-danger btn-card"><i class="fas fa-chart-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="t-contents_2 cf section-outline">
            <div class="inner cf">
                <div class="row">
                    <div class="col-md-5 col-sm-12 margin-auto" style="text-align:left;">
                        <div class="section-content">
                            <h3 class="section-outline-title">Outline</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 margin-auto">
                        <div class="section-content">
                            <img class="img-fluid section-content-img" src="~/images/home_desktop.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="t-flow_1 cf">
            <div class="inner cf">
                <h1 class="ttl_top">
                    4 Steps to win
                </h1>
                <p class="text_top">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
                <ul class="flow_step_list cf">
                    <li>
                        <div class="item-header">Step 1</div>
                        <div class="item">
                            <div class="thumbnail">
                                <img src="~/images/step-1.svg" alt="" height="90">
                            </div>
                            <dl>
                                <dt>
                                    <span>Registration</span>
                                </dt>
                                <dd>
                                    <p class="text">You can register in 30 seconds</p>
                                    <div class="item_btn">
                                        <a asp-controller="Authentication" asp-action="Register" class="btn btn-danger btn-block">Register</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <i class="flaticon stroke right-1 arrow_icon"></i>
                    </li>
                    <li>
                        <div class="item-header">Step 2</div>
                        <div class="item">
                            <div class="thumbnail">
                                <img src="~/images/step-2.svg" alt="" height="90">
                            </div>
                            <dl>
                                <dt>
                                    <span>Deposit</span>
                                </dt>
                                <dd>
                                    <p class="text">Deposit currency in CPL token</p>
                                </dd>
                            </dl>
                        </div>
                        <i class="flaticon stroke right-1 arrow_icon"></i>
                    </li>
                    <li>
                        <div class="item-header">Step 3</div>
                        <div class="item">
                            <div class="thumbnail">
                                <img src="~/images/step-3.svg" alt="" height="90">
                            </div>
                            <dl>
                                <dt>
                                    <span>Play game</span>
                                </dt>
                                <dd>
                                    <p class="text">Choose any game that suits you</p>
                                    <div class="item_btn">
                                        <a href="#" class="btn btn-danger btn-block">Play now</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <i class="flaticon stroke right-1 arrow_icon"></i>
                    </li>
                    <li>
                        <div class="item-header">Step 4</div>
                        <div class="item">
                            <div class="thumbnail">
                                <img src="~/images/step-4.svg" alt="" height="90">
                            </div>
                            <dl>
                                <dt>
                                    <span>Winning</span>
                                </dt>
                                <dd>
                                    <p class="text">With this, you will be a millionare</p>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="t-contents_2 cf section-rate">
            <div class="row">
                <div class="col-md-6 col-sm-12 margin-auto section-rate-half text-right rate">
                    <div class="row">
                        <div class="col-md-6 col-sm-12"></div>
                        <div class="col-md-6 col-sm-12">
                            <div class="section-content">
                                <img src="~/images/rate.svg" class="img-fluid" />
                                <h3 class="section-rate-title">90%</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 margin-auto section-rate-half text-left billionare">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="section-content">
                                <img src="~/images/billionare.svg" class="img-fluid" height="100" />
                                <h3 class="section-rate-title">100 million</h3>
                                <p>When an unknown printer took a galley of type.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="t-contents_2 cf faq">
            <div class="inner cf">
                <h1 class="ttl_top">
                    FAQ
                </h1>
                <p class="text_top">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
                <div class="row pt-3">
                    <div class="col-md-6 col-sm-12 margin-auto section-rate-half text-right rate">
                        <div class="panel-group panel-group-custom panel-group-corporate" id="faq-left" role="tablist" aria-multiselectable="false">
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading1" role="tab">
                                    <div class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#faq-left" href="#faq-1" aria-controls="faq-1" aria-expanded="false" class="collapsed">
                                            What are the advantages of purchasing your template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-1" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading2" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-left" href="#faq-2" aria-controls="faq-2" aria-expanded="false">
                                            What do I receive when I order this  template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-2" role="tabpanel" aria-labelledby="accordion1Heading2" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading3" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-left" href="#faq-3" aria-controls="faq-3" aria-expanded="false">
                                            What am I allowed to do with the template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-3" role="tabpanel" aria-labelledby="accordion1Heading3" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading4" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-left" href="#faq-4" aria-controls="faq-4" aria-expanded="false">
                                            Do you provide any scripts with the template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-4" role="tabpanel" aria-labelledby="accordion1Heading4" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.TemplateTuning.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 margin-auto section-rate-half text-left billionare">
                        <div class="panel-group panel-group-custom panel-group-corporate" id="faq-right" role="tablist" aria-multiselectable="false">
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading1" role="tab">
                                    <div class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#faq-right" href="#faq-5" aria-controls="faq-5" aria-expanded="false" class="collapsed">
                                            What are the advantages of purchasing your template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-5" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading2" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-right" href="#faq-6" aria-controls="faq-6" aria-expanded="false">
                                            What do I receive when I order this  template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-6" role="tabpanel" aria-labelledby="accordion1Heading2" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading3" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-right" href="#faq-7" aria-controls="faq-7" aria-expanded="false">
                                            What am I allowed to do with the template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-7" role="tabpanel" aria-labelledby="accordion1Heading3" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="accordion1Heading4" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-right" href="#faq-8" aria-controls="faq-8" aria-expanded="false">
                                            Do you provide any scripts with the template?
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="faq-8" role="tabpanel" aria-labelledby="accordion1Heading4" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.TemplateTuning.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="t-contents_2 cf contact">
            <div class="inner cf">
                <h1 class="ttl_top">
                    Contact us
                </h1>
                <p class="text_top">
                    Lorem Ipsum is not simply random text it has roots in a piece of classical.
                </p>
                <div class="row pt-3">
                    <div class="col-sm-12 margin-auto text-left">
                        <form id="form-contact">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" name="Name" class="form-control" id="Name" required placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" required placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="Message">Message</label>
                                <textarea class="form-control" id="Message" name="Message" required placeholder="Enter message" rows="3"></textarea>
                            </div>

                            <button type="button" class="btn btn-danger btn-send-message margin-auto mt-5">Send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="row">
            <div class="col-md-3 text-left pb-4">
                <img src="~/images/logo_white.png" style="padding-left:1em;" class="img-fluid" />
            </div>
            <div class="col-md-2 text-left pb-2">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service overview</a></li>
                    <li><a href="#">Purchase method</a></li>
                </ul>
            </div>
            <div class="col-md-2 text-left pb-2">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Newspaper</a></li>
                </ul>
            </div>
            <div class="col-md-5 text-center pb-2">
                <a asp-controller="Authentication" asp-action="Register" class="btn btn-danger btn-register">Register</a> &nbsp;
                <a asp-controller="Authentication" asp-action="LogIn" class="btn btn-log-in">Log in</a> <br /><br />
                Follow us on &nbsp;
                <a href="#" class="btn btn-sm btn-footer-icon"><i class="fab fa-facebook-square"></i></a> &nbsp;
                <a href="#" class="btn btn-sm btn-footer-icon"><i class="fab fa-google-plus-g"></i></a> &nbsp;
                <a href="#" class="btn btn-sm btn-footer-icon"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
    <div class="section-bottom">
        <div class="row">
            <div class="col-md-12">
                Copyright @DateTime.Now.Year <b>CryptoLot</b> &nbsp; - &nbsp; <a href="#">Terms of service</a> |  <a href="#">Privacy policy</a>
            </div>
        </div>
    </div>

    <script src="~/js/home/jquery-3.2.1.min.js"></script>
    <script src="~/js/home/popper.min.js"></script>
    <script src="~/js/home/bootstrap.min.js"></script>
    <script src="~/js/home/drawer.min.js"></script>
    <script src="~/js/home/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/home/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/home/plugins/scroll/smooth-scroll.min.js"></script>
    <script src="~/js/home/plugins/iscroll/iscroll.min.js"></script>
    <script src="~/js/home/jquery.validate.min.js"></script>
    <script src="~/js/home/cpl.home.js"></script>

</body>
</html>
