@model HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home");
}
@section styles{
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
}

<section id="slide">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="type-of-games">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="random-games">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="steps">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="faq">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

@section scripts{
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
}