@model HomeViewModel
@{
    Layout = null;
}

<div>
    <p>Current Lang : @Model.Lang.Name</p> <br />
    <p>All language support</p>
    @foreach (var lang in Model.Langs)
    {
        <p>@lang.Name</p>
    }
    @foreach (var member in Model.Teams)
    {
        <p>Member: @member.Name</p>
    }

</div>
