@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home");
}
@section styles{
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
}

<section id="slider-banner">
    <div class="mt-2 content-mobile">
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <img src="~/images/slider/slide_1.jpg" class="img-fluid img-border" />
                    </div>
                    <div class="owl-item">
                        <img src="~/images/slider/slide_2.jpg" class="img-fluid img-border" />
                    </div>
                    <div class="owl-item">
                        <img src="~/images/slider/slide_3.jpg" class="img-fluid img-border" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scroll-game-info">
    <div id="navbar-scroll-game-info" class="content-mobile navbar navbar-shadow mt-1">
        <div class="container">
            <marquee behavior="scroll" scrollamount="5" direction="left" width="100%">
                <p class="clearfix darken-2 text-sm-center mb-0 px-2 container center-layout">
                    <span class="d-block d-md-inline-block">
                        Vertical collapsible navigation menu open or close only on menu click, it is useful for those menu have less menu item and need remain open last clicked menu option. You can experience collapsible navigation in left side menu.
                        Vertical collapsible navigation menu open or close only on menu click, it is useful for those menu have less menu item and need remain open last clicked menu option. You can experience collapsible navigation in left side menu.
                    </span>
                </p>
            </marquee>
        </div>
    </div>
</section>

<section id="slider-game">
    <div class="container owl-carousel owl-theme owl-loaded hidden-mobile mt-1">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item">
                    <div class="card card-game">
                        <div class="card-header card-header-game font-weight-bold">
                            0000 tickets left
                        </div>
                        <img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/slider-game/NEW-HP_26.jpg" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-block">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="card card-game">
                        <div class="card-header card-header-game font-weight-bold">
                            0000 tickets left
                        </div>
                        <img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/slider-game/NEW-HP_26.jpg" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-block">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="card card-game">
                        <div class="card-header card-header-game font-weight-bold">
                            0000 tickets left
                        </div>
                        <img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/slider-game/NEW-HP_26.jpg" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-block">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="card card-game">
                        <div class="card-header card-header-game font-weight-bold">
                            0000 tickets left
                        </div>
                        <img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/slider-game/NEW-HP_26.jpg" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-block">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="card card-game">
                        <div class="card-header card-header-game font-weight-bold">
                            0000 tickets left
                        </div>
                        <img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/slider-game/NEW-HP_26.jpg" />
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-block">Buy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row content-mobile visible-mobile">
        <div class="col-12">
            <div class="card card-game">
                <img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/slider-game/mobile_06.jpg" />
                <div class="card-header card-header-game-mobile font-weight-bold">
                    0000 tickets left
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-game">
                <img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/slider-game/mobile_06.jpg" />
                <div class="card-header card-header-game-mobile font-weight-bold">
                    0000 tickets left
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-game">
                <img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/slider-game/mobile_06.jpg" />
                <div class="card-header card-header-game-mobile font-weight-bold">
                    0000 tickets left
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-game">
                <img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/slider-game/mobile_06.jpg" />
                <div class="card-header card-header-game-mobile font-weight-bold">
                    0000 tickets left
                </div>
            </div>
        </div>


    </div>
</section>

@section scripts{
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/dashboard/marquee.min.js"></script>
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
}