@model HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home");
}
@section styles{
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/dashboard/style.css" rel="stylesheet" asp-append-version="true" />

}

<style>
</style>

<div class="container mt-5">
    <div class="ml-sm-5 mr-sm-5">
        <div class="row text-center justify-content-center" id="top-content">
            <div class="col-lg-12 col-10">
                <img src="~/images/home/top.png" class="img-fluid" />
                <p id="text-top-content">クリプトオッズとは</p>
            </div>
        </div>
        <div class="row border border-danger pt-3" id="short-content">
            <div class="text-center col-md-4 col-12 order-sm-1 order-2 mt-sm-0 mt-1">
                <img src="~/images/home/screens.png" class="img-fluid" />
            </div>
            <div class="col-md-8 col-12 order-sm-12 order-1">
                <p class="text-dark font-medium-2">
                    @Html.Raw(LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoodds"))
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <img src="~/images/home/bottom.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
}