@model TokenBalanceViewModel


<div class="row">
    <p class="pt-1 text-capitalize col-12">Your balance</p>
</div>
<div class="card pull-up">
    <div class="card-header">
        <h6 class="card-title text-center">CPL Token</h6>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="text-center row clearfix mb-2">
                <div class="col-12">
                    <i class="cpl-token-balance font-large-3 bg-warning bg-glow white rounded-circle p-3 d-inline-block"></i>
                </div>
            </div>
            <h3 class="text-center">@Model.TokenAmount.ToString("#,##0.########") CPL</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-de mb-0">
                <tbody>
                    <tr>
                        <td>CPL</td>
                        <td><i class='cpl-token-grey-sm'></i> @Model.TokenAmount.ToString("#,##0.########")</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><i class='cc BTC-alt'></i> @Model.BTCToTokenRate.ToString("#,##0.########")</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><i class="cc ETH-alt"></i> @Model.ETHToTokenRate.ToString("#,##0.########")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
