USE CPL


UPDATE SysUser Set AffiliateId = 1 WHERE Id = 1;
UPDATE SysUser Set IsIntroducedById = NULL WHERE Id = 1;
INSERT INTO Agency VALUES (1,1,1,1,1,1,1,1,1);
INSERT INTO Payment VALUES (1,'2018-09-20', null, 100,100,100,10,10,10);

--20180921-AllTopAgency--
truncate table Agency;

--20180921-AllTopAgency--
truncate table Agency;
INSERT INTO Agency VALUES (1,1,1,1,1,1,1,1,1);
INSERT INTO Agency VALUES (1,1,1,1,1,1,1,1,1);

INSERT INTO Affiliate VALUES (1,1,1,1,1,1);
INSERT INTO Affiliate VALUES (1,1,1,1,1,1);
INSERT INTO Affiliate VALUES (1,1,1,1,1,1);

UPDATE SysUser SET AgencyId = NULL;
UPDATE SysUser Set AgencyId = 1 WHERE Id = 1;

SET IDENTITY_INSERT [dbo].[SysUser] ON 
GO

SET IDENTITY_INSERT [dbo].[SysUser] OFF
GO

