@{
    Layout = "_Layout";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 mx-auto">
                    <div class="card-header bg-transparent border-0">
                        <h2 class="font-large-5 text-center mb-2">500</h2>
                        <h3 class="text-uppercase text-center">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InternalServerError")</h3>
                    </div>
                    <div class="card-content">
                        <div class="row py-2">
                            <div class="col-sm-6 mx-auto text-center">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="ft-home"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BackToHome")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>