@model ActivateEmailTemplateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ActivateEmailTemplate</title>
</head>
<body>
    <p>
        @Model.ActivateUrl
    </p>
    <p>
        @Model.RegistrationSuccessfulText
    </p>
</body>
</html>
