
@{
    Layout = null;
}

<div class="modal" tabindex="-1" role="dialog" id="logout" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm mx-auto" role="document">
        <div class="modal-content">
            <form id="form-logout" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogOut")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogoutConfirm")</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-confirm-logout" class="btn btn-sm btn-primary">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Yes")</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cancel")</button>
                </div>
            </form>
        </div>
    </div>
</div>