@model MemberEmailTemplateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MemberEmailTemplate</title>
</head>
<body>
    @Model.ActivationSuccessfulText
</body>
</html>
