@model AccountActivateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Activate");
}

<div class="content-wrapper mt-2 mb-2">
    <div class="content-body">
        <div class="col-xl-3 col-lg-4 col-sm-5 col-12 p-0 mx-auto">
            <div class="card card-primary mb-0">
                <div class="card-body">
                    <p class="text-center h5 text-capitalize txt-welcome mb-1">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Welcome")</p>
                    <p class="text-muted">@Html.Raw(Model.Message)</p>
                </div>
            </div>
        </div>
    </div>
</div>
