@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Slot");
}

@section styles
    {
    <link href="~/css/dashboard/cpl.slot.css" rel="stylesheet" />
}

<div class="img-coming-soon text-center w-md-100 w-75">
    <h1 class="mb-md-2 font-large-3">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SlotGame")</h1>
    <img class="img-fluid img-circle"  src="~/images/comingsoon2.png" />
</div>

