<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <table id="dt-purchased-lottery-history" class="table responsive table-hover table-xl mb-0">
                    <thead>
                        <tr>
                            <th class="border-top-0" data-priority="1">UserName</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">NumberOfTicket</th>
                            <th class="border-top-0">TotalPurchasePrice</th>
                            <th class="border-top-0">Title</th>
                            <th class="border-top-0">PurchaseDateTime</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
