@model ConfirmExchangeViewModel

<div class="modal" tabindex="-1" role="dialog" id="depositandwithdraw-kyc" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WithdrawRequireKYC")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WithdrawRequireKYCContent")
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btn-confirm-depositandwithdraw-kyc" class="btn btn-sm btn-primary" href="/Profile/KYC/?returnUrl=/DepositAndWithdraw/Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Yes")</a>
                    <a class="btn btn-sm btn-secondary" href="" data-dismiss="modal">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cancel")</a>
                </div>
        </div>
    </div>
</div>