USE [CPL]
GO
/****** Object:  Table [dbo].[BTCPrice]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BTCPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [money] NOT NULL,
	[Time] [bigint] NULL,
 CONSTRAINT [PK_BTCPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BTCTransaction]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BTCTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TxHashId] [nvarchar](100) NOT NULL,
	[UpdatedTime] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_BTCTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoinTransaction]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoinTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SysUserId] [int] NOT NULL,
	[FromWalletAddress] [nvarchar](100) NULL,
	[ToWalletAddress] [nvarchar](100) NULL,
	[CoinAmount] [decimal](18, 8) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[TokenAmount] [money] NULL,
	[Rate] [float] NULL,
	[TxHashId] [nvarchar](150) NULL,
	[Type] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Category] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Subject] [nvarchar](200) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETHTransaction]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETHTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TxHashId] [nvarchar](100) NOT NULL,
	[UpdatedTime] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_ETHTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lang]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LangContent]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LangContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LangId] [int] NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[RowId] [int] NOT NULL,
	[FieldName] [nvarchar](50) NOT NULL,
	[Value] [ntext] NOT NULL,
 CONSTRAINT [PK_LangContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LangDetail]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LangDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LangId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [ntext] NULL,
 CONSTRAINT [PK_LangDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LangMsgDetail]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LangMsgDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LangId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [ntext] NULL,
 CONSTRAINT [PK_LangMsgDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lottery]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lottery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phase] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Volume] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DesktopSlideImage] [nvarchar](200) NULL,
	[DesktopListingImage] [nvarchar](200) NULL,
	[MobileListingImage] [nvarchar](200) NULL,
	[Title] [nvarchar](200) NULL,
	[UnitPrice] [int] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[MobileSlideImage] [nvarchar](200) NULL,
	[PrizeImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_Lottery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotteryHistory]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LotteryId] [int] NOT NULL,
	[SysUserId] [int] NOT NULL,
	[Result] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TicketNumber] [nvarchar](6) NULL,
	[UpdatedDate] [datetime] NULL,
	[LotteryPrizeId] [int] NULL,
	[TicketIndex] [int] NOT NULL,
	[TxHashId] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LotteryHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotteryPrize]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryPrize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [money] NOT NULL,
	[LotteryId] [int] NOT NULL,
	[Volume] [int] NOT NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_LotteryPrize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[ShortDescription] [nvarchar](2000) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 28/08/2018 6:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](400) NULL,
	[CreatedDate] [datetime] NULL,
	[LangId] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricePrediction]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricePrediction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[OpenTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PredictionResultTime] [datetime] NOT NULL,
	[PredictionPrice] [money] NOT NULL,
	[ResultPrice] [money] NULL,
	[NumberOfPredictors] [int] NULL,
	[Volume] [money] NULL,
	[Coinbase] [nvarchar](10) NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PricePrediction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricePredictionHistory]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricePredictionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PricePredictionId] [int] NOT NULL,
	[SysUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Prediction] [bit] NOT NULL,
	[Result] [nvarchar](20) NULL,
	[Award] [money] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PricePredictionHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[Mobile] [nvarchar](20) NULL,
	[ResetPasswordToken] [nvarchar](50) NULL,
	[ResetPasswordDate] [datetime] NULL,
	[ActivateToken] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[KYCVerified] [bit] NULL,
	[FrontSide] [nvarchar](80) NULL,
	[BackSide] [nvarchar](80) NULL,
	[DOB] [datetime] NULL,
	[BTCHDWalletAddressIndex] [int] NOT NULL,
	[KYCCreatedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ETHHDWalletAddress] [nvarchar](100) NULL,
	[ETHHDWalletAddressIndex] [int] NOT NULL,
	[BTCHDWalletAddress] [nvarchar](100) NULL,
	[BTCAmount] [decimal](18, 8) NULL,
	[ETHAmount] [decimal](18, 8) NULL,
	[TokenAmount] [money] NOT NULL,
	[Gender] [bit] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](30) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[TwoFactorAuthenticationEnable] [bit] NOT NULL,
 CONSTRAINT [PK_SysUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[Avatar] [nvarchar](150) NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Body] [nvarchar](50) NULL,
	[Subject] [nvarchar](200) NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BTCTransaction] ON 
GO
INSERT [dbo].[BTCTransaction] ([Id], [TxHashId], [UpdatedTime], [CreatedDate], [Status], [ParentId]) VALUES (7, N'819f6a74cf31c851a8fba6de094b0e370384c64f4795e2c594f2ef1b5ebac30a', NULL, CAST(N'2018-08-28T18:51:03.097' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BTCTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[CoinTransaction] ON 
GO
INSERT [dbo].[CoinTransaction] ([Id], [SysUserId], [FromWalletAddress], [ToWalletAddress], [CoinAmount], [CreatedDate], [CurrencyId], [TokenAmount], [Rate], [TxHashId], [Type], [Status]) VALUES (1, 1, NULL, N'0x37bd726d30e87040ce4e309a322914a1AFe0F2c4', CAST(1.20000000 AS Decimal(18, 8)), CAST(N'2018-08-28T12:00:04.797' AS DateTime), 1, NULL, NULL, N'0x89f6d9ca665e942093cc71f5b26749be7734ebf19ec61f8539100a75f779daa6', 2, 1)
GO
INSERT [dbo].[CoinTransaction] ([Id], [SysUserId], [FromWalletAddress], [ToWalletAddress], [CoinAmount], [CreatedDate], [CurrencyId], [TokenAmount], [Rate], [TxHashId], [Type], [Status]) VALUES (2, 3, NULL, N'0xDd2c2D721898b39552156716a7838d9859Ef9494', CAST(5.00000000 AS Decimal(18, 8)), CAST(N'2018-08-28T12:04:40.713' AS DateTime), 1, NULL, NULL, N'0x4b1104e103dba560864f3a4f4214fdd71101dca9d0c6fbe02fddafde0960b96a', 2, 1)
GO
INSERT [dbo].[CoinTransaction] ([Id], [SysUserId], [FromWalletAddress], [ToWalletAddress], [CoinAmount], [CreatedDate], [CurrencyId], [TokenAmount], [Rate], [TxHashId], [Type], [Status]) VALUES (3, 4, NULL, N'0x8ca2F8b3E947061eACEa482Cae035772F94B1200', CAST(0.12345000 AS Decimal(18, 8)), CAST(N'2018-08-28T12:05:20.843' AS DateTime), 1, NULL, NULL, N'0x52daa17196f077c990ddd1f5a518e714988808cd5bd75240aa4badb4850c4566', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[CoinTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 
GO
INSERT [dbo].[Contact] ([Id], [Email], [Category], [Description], [CreatedDate], [Subject]) VALUES (1, N'trieupham2708@gmail.com', 2, N'dwdddddddddddddddddddddddddddddddddd', CAST(N'2018-08-28T15:07:09.760' AS DateTime), N'qwqwqw')
GO
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 
GO
INSERT [dbo].[Currency] ([Id], [Name]) VALUES (1, N'ETH')
GO
INSERT [dbo].[Currency] ([Id], [Name]) VALUES (2, N'BTC')
GO
SET IDENTITY_INSERT [dbo].[Currency] OFF
GO
SET IDENTITY_INSERT [dbo].[ETHTransaction] ON 
GO
INSERT [dbo].[ETHTransaction] ([Id], [TxHashId], [UpdatedTime], [CreatedDate], [Status], [ParentId]) VALUES (17, N'0x908ad3e966bdfa553872068924a1b560e4c66a51fc49c9253d346bb37590e36f', CAST(N'2018-08-28T17:42:33.550' AS DateTime), CAST(N'2018-08-28T18:31:53.973' AS DateTime), 1, NULL)
GO
INSERT [dbo].[ETHTransaction] ([Id], [TxHashId], [UpdatedTime], [CreatedDate], [Status], [ParentId]) VALUES (19, N'0xf17cdc745fb32b8a699c25d22bb62c67949561ff212ce21c83a7533c19e63963', NULL, CAST(N'2018-08-28T17:42:42.887' AS DateTime), NULL, 17)
GO
SET IDENTITY_INSERT [dbo].[ETHTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Lang] ON 
GO
INSERT [dbo].[Lang] ([Id], [Name], [Image]) VALUES (1, N'English', N'flag-icon-us')
GO
INSERT [dbo].[Lang] ([Id], [Name], [Image]) VALUES (2, N'日本語', N'flag-icon-jp')
GO
SET IDENTITY_INSERT [dbo].[Lang] OFF
GO
SET IDENTITY_INSERT [dbo].[LangContent] ON 
GO
INSERT [dbo].[LangContent] ([Id], [LangId], [TableName], [RowId], [FieldName], [Value]) VALUES (2, 1, N'Lottery', 1, N'ShortDescription', N'Short description lottery phase 1')
GO
INSERT [dbo].[LangContent] ([Id], [LangId], [TableName], [RowId], [FieldName], [Value]) VALUES (3, 1, N'Lottery', 2, N'ShortDescription', N'Short description lottery phase 2')
GO
INSERT [dbo].[LangContent] ([Id], [LangId], [TableName], [RowId], [FieldName], [Value]) VALUES (4, 1, N'Lottery', 3, N'ShortDescription', N'Short description lottery phase 3')
GO
SET IDENTITY_INSERT [dbo].[LangContent] OFF
GO
SET IDENTITY_INSERT [dbo].[LangDetail] ON 
GO
INSERT [dbo].[LangDetail] ([Id], [LangId], [Name], [Value]) VALUES (1, 1, N'TokenSymbol', N'CPL')
GO
INSERT [dbo].[LangDetail] ([Id], [LangId], [Name], [Value]) VALUES (2, 1, N'TokenTeam', N'CPL Team')
GO
INSERT [dbo].[LangDetail] ([Id], [LangId], [Name], [Value]) VALUES (3, 1, N'ProfileEdit', N'Edit Profile')
GO
SET IDENTITY_INSERT [dbo].[LangDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[LangMsgDetail] ON 
GO
INSERT [dbo].[LangMsgDetail] ([Id], [LangId], [Name], [Value]) VALUES (1, 1, N'LotteryDescription', N'<p>When the number of purchased lottery tickets reach the upper limit, we will make a lottery by Smart Contract.​</p>
<p>Lottery will be held at 0:00 am in Japan time and will be announced on the user''s management screen at 10 AM in the next morning.​</p>
<p>If the number of purchases does not reach the upper limit, it will be carried over to the next day until the upper ​limit is reached.</p>')
GO
INSERT [dbo].[LangMsgDetail] ([Id], [LangId], [Name], [Value]) VALUES (2, 2, N'LotteryDescription', N'<p>仮想通貨くじの購入数が上限に達した段階で、スマートコントラクトによる抽選を行います。​</p>  <p>抽選時間は日本時間午前0時に行われ、翌朝10時にユーザー様の管理画面上で発表されます。​</p>  <p>（購入数が上限に達しない場合は、上限に達するまで翌日に持ち越されます。)</p>')
GO
SET IDENTITY_INSERT [dbo].[LangMsgDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Lottery] ON 
GO
INSERT [dbo].[Lottery] ([Id], [Phase], [CreatedDate], [Volume], [Status], [DesktopSlideImage], [DesktopListingImage], [MobileListingImage], [Title], [UnitPrice], [UpdatedDate], [MobileSlideImage], [PrizeImage]) VALUES (1, 1, CAST(N'2018-08-27T14:41:59.070' AS DateTime), 50, 2, N'1_ds_20180828024159_Capture.PNG', N'1_dl_20180828024159_Capture.PNG', N'1_ml_20180828024159_Capture.PNG', N'Giải Nhất 0,0 BTC', 20, NULL, N'1_ms_20180828024159_Capture.PNG', N'1_p_20180828024159_Capture.PNG')
GO
SET IDENTITY_INSERT [dbo].[Lottery] OFF
GO
SET IDENTITY_INSERT [dbo].[LotteryHistory] ON 
GO
INSERT [dbo].[LotteryHistory] ([Id], [LotteryId], [SysUserId], [Result], [CreatedDate], [TicketNumber], [UpdatedDate], [LotteryPrizeId], [TicketIndex], [TxHashId]) VALUES (1, 1, 6, NULL, CAST(N'2018-08-27T14:41:59.070' AS DateTime), N'431698', NULL, NULL, 1, N'0xf1cb12bbe8c3929c460a1014589041b1f04ba0ad5309e5b1704825e20c3c10c6')
GO
INSERT [dbo].[LotteryHistory] ([Id], [LotteryId], [SysUserId], [Result], [CreatedDate], [TicketNumber], [UpdatedDate], [LotteryPrizeId], [TicketIndex], [TxHashId]) VALUES (2, 1, 6, NULL, CAST(N'2018-08-27T14:41:59.070' AS DateTime), N'089521', NULL, NULL, 2, N'0xf1cb12bbe8c3929c460a1014589041b1f04ba0ad5309e5b1704825e20c3c10c6')
GO
INSERT [dbo].[LotteryHistory] ([Id], [LotteryId], [SysUserId], [Result], [CreatedDate], [TicketNumber], [UpdatedDate], [LotteryPrizeId], [TicketIndex], [TxHashId]) VALUES (3, 1, 6, NULL, CAST(N'2018-08-27T14:41:59.070' AS DateTime), N'411871', NULL, NULL, 3, N'0xf1cb12bbe8c3929c460a1014589041b1f04ba0ad5309e5b1704825e20c3c10c6')
GO
SET IDENTITY_INSERT [dbo].[LotteryHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[LotteryPrize] ON 
GO
INSERT [dbo].[LotteryPrize] ([Id], [Value], [LotteryId], [Volume], [Index]) VALUES (1, 100.0000, 1, 1, 1)
GO
INSERT [dbo].[LotteryPrize] ([Id], [Value], [LotteryId], [Volume], [Index]) VALUES (2, 50.0000, 1, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[LotteryPrize] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 
GO
INSERT [dbo].[Setting] ([Id], [Name], [Value], [Description]) VALUES (1, N'IsOnMaintenance', N'false', NULL)
GO
INSERT [dbo].[Setting] ([Id], [Name], [Value], [Description]) VALUES (2, N'IsAccountActivationEnable', N'true', NULL)
GO
INSERT [dbo].[Setting] ([Id], [Name], [Value], [Description]) VALUES (3, N'FHCoreServiceEndPointUrl', N'http://api.famhopperchain.com/', N'Local FHCore')
GO
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
SET IDENTITY_INSERT [dbo].[SysUser] ON 
GO
SET IDENTITY_INSERT [dbo].[SysUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Template] ON 
GO
INSERT [dbo].[Template] ([Id], [Name], [Body], [Subject]) VALUES (1, N'Activate', N'ActivateEmailTemplate', N'Activate your account at CPL')
GO
INSERT [dbo].[Template] ([Id], [Name], [Body], [Subject]) VALUES (2, N'Member', N'MemberEmailTemplate', N'Account is activated successfully at CPL')
GO
INSERT [dbo].[Template] ([Id], [Name], [Body], [Subject]) VALUES (3, N'Contact', N'ContactEmailTemplate', N'Contact #{0} from customer at CPL')
GO
SET IDENTITY_INSERT [dbo].[Template] OFF
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('0') FOR [Volume]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('1') FOR [Status]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('') FOR [DesktopSlideImage]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('') FOR [DesktopListingImage]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('') FOR [MobileListingImage]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[Lottery] ADD  DEFAULT ('0') FOR [UnitPrice]
GO
ALTER TABLE [dbo].[LotteryHistory] ADD  DEFAULT ('') FOR [TxHashId]
GO
ALTER TABLE [dbo].[LotteryPrize] ADD  DEFAULT ('0') FOR [Volume]
GO
ALTER TABLE [dbo].[LotteryPrize] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_BTCHDWalletAddressIndex]  DEFAULT ((0)) FOR [BTCHDWalletAddressIndex]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_ETHHDWalletAddressIndex]  DEFAULT ((0)) FOR [ETHHDWalletAddressIndex]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF__SysUser__TwoFact__6C190EBB]  DEFAULT ((0)) FOR [TwoFactorAuthenticationEnable]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTxHashIdToBTCTransaction]    Script Date: 28/08/2018 6:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsertTxHashIdToBTCTransaction]
	-- Add the parameters for the stored procedure here
	@TxHashId nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if ((select count(*) from [dbo].[BTCTransaction] where TxHashId = @TxHashId) = 0)
		INSERT INTO [dbo].[BTCTransaction]([TxHashId],[UpdatedTime],[CreatedDate]) VALUES (@TxHashId, NULL, GETDATE());
END
GO
