UPDATE LangDetail Set Value = N'Total tickets' Where [Name] = N'TotalOfTickets' AND LangId = 1 ;

UPDATE LangDetail Set Value = N'Desktop slide image' Where [Name] = N'DesktopListingImage' AND LangId = 1 ;
UPDATE LangDetail Set Value = N'デスクトップスライド画像' Where [Name] = N'DesktopListingImage' AND LangId = 2 ;

UPDATE LangDetail Set Value = N'Mobile slide image' Where [Name] = N'MobileListingImage' AND LangId = 1 ;
UPDATE LangDetail Set Value = N'モバイルスライド画像' Where [Name] = N'MobileListingImage' AND LangId = 2 ;

UPDATE LangDetail Set Value = N'Slide image' Where [Name] = N'SlideImage' AND LangId = 1 ;